<section class="mh-auto measure bg-green-dark br-2 pa-2">
  <h4 class="mv-0">Metadata
    <a href="declare.html" class="green-light f-1 i fw-3">Learn more</a>
  </h4>
  <dl class="pl-2">
      <dt class="db ws-nowrap"><code class="ws-nowrap f-1 fw-bold">ai-content-declaration:level</code></dt>
      <dd class="ml-0 db mb-3 mt-2">Value: <code class="ws-nowrap f-1 dib pv-1 ph-2 bg-green-lightest bc-green-dark br-2 green-dark"><%= level %></code></dd>
      <dt class="db ws-nowrap"><code class="ws-nowrap f-1 fw-bold">ai-content-declaration:version</code></dt>
      <dd class="ml-0 db mb-2 mt-2">Value: <code class="ws-nowrap f-1 dib pv-1 ph-2 bg-green-lightest bc-green-dark br-2 green-dark"><%= semver.raw %></code></dd>
  </dl>
</section>
