<%- include( "_head.html", { title: "Colophon" } ) %>
<%- include( "_header.html", { subtitle: "Colophon" } ) %>
  <main class="pa-3">
    <p>
      This site was created in HTML and <a href="ejs.co">EJS</a> using a custom build script.  It is styled using <a href="https://davetron5000.github.io/melange-css">MelangeCSS</a>. The text is set in Avenire, ideally, with fallbacks to Montserrat, Corbel, URM Gothic, and the system sans-serif fonts.
    </p>
    <h3 class="measure mh-auto">About the Author</h3>
    <p>
      People call me “Dave”, though I write technical books under my full name, “David Bryant Copeland” and am known as <a href="https://ruby.social/@davetron5000" class="">davetron5000</a> on pretty much all social media.  I am an experienced programmer, technical author, scuba diver, cat lover. I write tech stuff <a class="" href="https://naildrivin5.com">on my website</a>.
    </p>
  </main>
<%- include( "_foot.html" ) %>
