<%- include( "_head.html", { title: "Creative Assistance Declaration" } ) %>
<%- include( "_header.html", { subtitle: "Generative AI Provided Creative Assistance" } ) %>
  <main class="pa-3">
    <p>
      Works that link here as their AI Content Declaration are stating that a Generative AI was used in the production of the work, and that it contribution creatively to the work. This could mean that a human edited an AI-generated work, or that portions of the work were entirely AI-generated.
    </p>
    <%- include( "_declaration_info.html", { level: "creative" } ) %>
  </main>
<%- include( "_foot.html" ) %>
