<%- include( "_head.html", { title: "Non-creative Assistance Declaration" } ) %>
<%- include( "_header.html", { subtitle: "Generative AI Provided Non-creative Assistance" } ) %>
  <main class="pa-3">
    <p>
      Works that link here as their AI Content Declaration are stating that a Generative AI was used in the production of the work, and that its contribution was entirely non-creative.  The AI was only used to automate repetitive or mechanical tasks.
    </p>
    <%- include( "_declaration_info.html", { level: "non-creative" } ) %>
  </main>
<%- include( "_foot.html" ) %>
