<%- include( "_head.html", { title: "No Generative AI Assistance Declaration" } ) %>
<%- include( "_header.html", { subtitle: "Generative AI Provided No Assistance" } ) %>
  <main class="pa-3">
    <p>
      Works that link here as their AI Content Declaration are stating that no Generative AI was used in the production of the work.  It is possible that the work was create with tools that, themselves, have a different (or absent) Generative AI Declaration.
    </p>
    <%- include( "_declaration_info.html", { level: "none" } ) %>
  </main>
<%- include( "_foot.html" ) %>
