<%- include( "_head.html", { title: "Entirely Generative AI Produced Declaration" } ) %>
<%- include( "_header.html", { subtitle: "Generative AI Produced the Work" } ) %>
  <main class="pa-3">
    <p>
      Works that link here as their AI Content Declaration are stating a Generative AI produced the work entirely, or that any human involvement in the work was purely for the presentation or preservation of the work. No human editing was performed.
    </p>
    <%- include( "_declaration_info.html", { level: "total" } ) %>
  </main>
<%- include( "_foot.html" ) %>
