<%- include( "_head.html", { title: "Creative Assistance Declaration" } ) %>
<%- include( "_header.html", { subtitle: "Generative AI Provided Creative Assistance", size_invert: true } ) %>
  <main class="pa-3">
    <p class="pb-3 bb bc-green-darker">
      The work had creative input from a Generative AI, although a human was also involved in editing, modifying, or contributing creatively. See <a class="white" href="non-creative.html">Non-Creative</a> for a comparison.
    </p>
    <%- include( "_declaration_info.html", { level: "creative" } ) %>
  </main>
<%- include( "_foot.html" ) %>
