<%- include( "_head.html", { title: "Non-creative Assistance Declaration" } ) %>
<%- include( "_header.html", { subtitle: "Generative AI Provided Non-creative Assistance", size_invert: true } ) %>
  <main class="pa-3">
    <p class="pb-3 bb bc-green-darker">
      The work was created by a human, with a generative AI providing non-creative assistance, such as the automation of a repetitive task or execution of an algorithm (e.g. spell-checking). See <a class="white" href="creative.html">Creative</a> for a comparision.
    </p>
    <%- include( "_declaration_info.html", { level: "non-creative" } ) %>
  </main>
<%- include( "_foot.html" ) %>
