@import "melange-css/melange.css";

:root {
  --mg-ff-sans: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
  --mg-green-lightest: #e6ffe6;
  --mg-green-light: #99ff99;
  --mg-green: #009900;
  --mg-green-dark: #006600;
  --mg-green-darkest: #003300;
  --mg-black-ish: #002300;
}

a {
  color: var(--mg-green-lightest);
}

p {
  line-height: 1.5;
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
}
.glow {
  text-shadow: rgba(230,255,230,0.61) 0px 0px 4px;
}
.glow-less {
  text-shadow: rgba(230,255,230,0.51) 0px 0px 4px;
}
